%meta{ name: 'author', content: "#{@post.author}" }
%meta{ name: 'publisher', content: '[publisher]' }
%meta{ name: 'description', content: "#{@post.short_description}" }
%meta{ name: 'keywords', content: "#{@post.keywords}" }

%meta{ property: 'og:type', content: 'post' }
%meta{ property: 'og:url', content: "http://www.patriciacarmona.com/#{@post.slug}" }
%meta{ property: 'og:image', content: '[image]' }
%meta{ property: 'og:site_name', content: 'Patricia Carmona' }
%meta{ property: 'og:description', content: '#{@post.short_description}' }

%meta{ name: 'twitter:card', content: 'summary_large_image' }
%meta{ name: 'twitter:site', content: '@patricrp' }
%meta{ name: 'twitter:domain', content: 'www.patriciacarmona.com' }
%meta{ name: 'twitter:title', content: '#{@post.tittle}' }
%meta{ name: 'twitter:description', content: '#{@post.short_description}' }
%meta{ name: 'twitter:image', content: '#{@post.image}' }

%meta{ property: 'fb:admins', content: '[id_fb]' }