%i.fa.fa-bars.fa-3x.menu-buttonOpen{ onclick: 'openSideMenu();'}
.header-socialNetworks
  = link_to 'http://twitter.com/patricrp', rel: 'no-follow', target: '_blank' do
    %i.fa.fa-twitter.twitter.fa-3x

#side-navbar{ class: "side-navbar"}
  .container
    .side-navbarHeader
      = image_tag(image_path('author.jpg'))
      %h2.side-navbarHeaderTitle
        Patricia Carmona
    %ul.nav
      %li
        = link_to "Inicio", root_path()
      %li
        = link_to "Blog", blog_mobile_path()
      %li
        = link_to "Recursos", resources_path
      %li
        = link_to "Sobre mí", "/services#about-me"
      %li
        = link_to "Servicios", "/services"
      %li.button
        = link_to "Contacto", "/services#contact-me"
