.comment
  .head-comment
    .comment-user
      %i.fa.fa-user
      %span
        = comment.name
    .comment-date.right
      = "#{comment.created_at.strftime('%d %b %Y')}"
  %p.content-comment
    = comment.content
- unless comment.reply.nil?
  = render partial: 'comments/reply_comment', locals: { comment: comment.reply }