.comment.reply-comment
  .head-comment
    .comment-user
      = image_tag(image_path("author.jpg"))
      %span
        = comment.name
    .comment-date.right
      = "#{comment.created_at.strftime('%d %b %Y')}"
  %p.content-comment
    = comment.content