.header
  .container
    .row-fluid
      .navbar-collapse.collapse.navbar-responsive-collapse
        %ul.nav.navbar-nav.navbar_header
          %li
            = link_to "Sobre mí", "/services#about-me"
          %li.separator
            ='/'
          %li
            = link_to "Servicios", "/services"
          %li.separator
            ='/'
          %li.last
            = link_to "Contacto", "/services#contact"
        .right
          = link_to 'http://twitter.com/patricrp', rel: 'no-follow', target: '_blank' do
            %i.fa.fa-twitter.twitter.fa-2x
    .row-fluid
      .col-md-12.col-xs-12
        .col-md-8.col-xs-6.lead
          .row-fluid
            %h1.title
              Patrica Carmona
            %h2.title
              ANALISTA DE SOCIAL MEDIA
        .col-md-4
    .row-fluid
      .left.subscription-header
        .subscription
          = render partial: 'subscriptions/form'