%h3
  Datos del post
%ul.nav.nav-list
  %li
    %i{ class: 'fa fa-clock'}
    = post.published
  %li
    = post.category.name
  %li
    = "#{post.visits} visitas"
%h3
  Compartido
%ul.nav.nav-list
  %li
    %i{ class: 'fa fa-twitter'}
    Twitter
    .right 
      = show_shares(@shares, 'Twitter')
  %li
    %i{ class: 'fa fa-linkedin'}
    Linkedin
    .right 
      = show_shares(@shares, 'Linkedin')
  %li
    %i{ class: 'fa fa-facebook'}
    Facebook
    .right 
      = show_shares(@shares, 'Facebook')