= javascript_include_tag 'markdown_converter'
%div{ id: "post_#{@post.id}", class: 'item-post-list single-post' }
  %h2
    = @post.title
  %p
    = @post.resume
  =image_tag(image_path(@post.image.url))
  %p
    %b
      = "Slug: "
    = @post.slug
  %p{ class: 'post_content', id: 'post_content'}
    = @post.content
%div{ class: 'actions' }
  = link_to administration_posts_path, class: 'btn btn-default btn-lg left' do
    %i{ class: 'fa fa-chevron-left'}
    = t('return')
  = link_to edit_administration_post_path(id: @post.id), class: 'btn btn-success btn-lg right' do
    %i{ class: 'fa fa-pencil'}
    = t('edit')

:javascript
  markdown.render_text('#post_content', '#{escape_javascript(@post.content)}');