.navbar.navbar-default.navbar-static-top
  .container
    = link_to 'Blog', root_path , class: "navbar-brand"
    .navbar-collapse.collapse.navbar-responsive-collapse
      %ul{ class: "nav navbar-nav"}
        %li{ class: active_section(@section, 'posts') }
          = link_to "Publicaciones", administration_posts_path()
        %li{ class: active_section(@section, 'categories') }
          = link_to "Categorías", administration_categories_path()
        %li{ class: active_section(@section, 'resources') }
          = link_to "Recursos", administration_resources_path()
        %li{ class: active_section(@section, 'podcast') }
          = link_to "Podcast", administration_podcasts_path()
        %li{ class: active_section(@section, 'comments') }
          = link_to "Comentarios", administration_comments_path()
        %li{ class: active_section(@section, 'stats') }
          = link_to "Estadísticas", nil