.resource
  .col-md-4.hidden-xs
    .resource-image
      -if resource.image.url
        = image_tag(image_path(resource.image.thumb.url))
  .col-md-8.col-xs-12
    %h2.resource-title
      = resource.title
    %span.post-date.right
      %i.fa.fa-calendar
      = "Publicado en #{resource.published.strftime('%d %b %Y')}"
    .resource-category
      %span
        =resource.category.camelcase
    .resource-description
      = resource.description
    .resource-link
      %ul.list-inline
        %li
          = link_to resource.link, onclick: 'resourceDownload(event)', "data-ref": resource.id, target: '_blank' do
            %i.fa.fa-download.fa-2x
            %span.hidden-xs
              Descargar
        %li.likes.right{ "data-ref": resource.id }
          - if user_likes?(resource.link)
            %i.fa.fa-heart.fa-2x
          - else
            %i.fa.fa-heart-o.fa-2x
          %button
            = resource.likes