%div{ id: "post_#{post.id}", class: 'post-resume' }
  .row-fluid
    .col-md-12
      %h3.post-resume-title
        = link_to post.title, show_post_path(post.slug), class: 'post-resume-title'
      .tags.col-md-6
        %ul.list-inline
          %li
            = post.category_name
      .date-secondary.col-md-3.right
        = "Publicado en #{post.published.strftime('%d %b %Y')}"
      %div.post-image.col-md-12{style: 'background: url("https://pbs.twimg.com/media/CwVdz8VXEAExH-Y.jpg")'}
        &nbsp;
  .row-fluid
    .post-resume-content.post-link{ 'data-ref': show_post_path(post.slug) }
      = post.resume
  .row-fluid
    .post-readmore.post-link{ 'data-ref': show_post_path(post.slug) }
      Read more...