%div{ id: "post_#{post.id}", class: 'post-resume' }
  .row-fluid
    .col-md-12
      %h3.post-resume-title
        = link_to post.title, show_post_path(post.slug), class: 'post-resume-title'
      .tags.col-md-6
        %ul.list-inline
          %li
            = link_to (home_page? ? nil : filter_by_category_path(post.category_name)), remote: true, title: 'Filtrar por ésta categoría' do
              = post.category_name
      .date-secondary.col-md-3.right
        = "Publicado en #{post.published.strftime('%d %b %Y')}"
      %div.post-image.col-md-12{style: "background: url('#{post.image.url}')"}
        &nbsp;
  .row-fluid
    .post-resume-content.post-link{ 'data-ref': show_post_path(post.slug) }
      = post.resume
  .row-fluid
    .post-readmore.post-link{ 'data-ref': show_post_path(post.slug) }
      Read more...