%div{ id: "post_#{post.id}", class: 'post-resume' }
  %h3
    = link_to post.title, show_post_path(post.slug), class: 'post-resume-title'
  %ul.list-inline.post-info
    %li
      = "Escrito el #{post.published.strftime('%d/%m/%Y')}"
  .post-resume
    = post.resume
    .row-fluid
      .p.right
        = link_to show_post_path(post.slug) do
          Continuar leyendo >

