%div{ id: "post_#{post.id}", class: 'post-resume' }
  .date
    .big
      = post.published.strftime('%d %b')
    .small
      = post.published.strftime('%Y')
  %h3.post-resume-title
    = link_to post.title, show_post_path(post.slug), class: 'post-resume-title'
  .post-resume-content
    = post.resume
    .row-fluid
      .show-more
        = link_to show_post_path(post.slug) do
          Continuar leyendo >

