%div{ id: "post_#{post.id}", class: 'item-post-list resume' }
  %h2
    = link_to post.title, show_post_path(category: post.category_slug, id: post.slug), class: 'post_title'
  %ul.list-inline.post-info
    %li
      %i.icon.fa.fa-user
      = post.author
    %li
      %i.icon.fa.fa-calendar
      = post.published
    %li.right
      %i.icon.fa.fa-tag
      = post.category_name
  .post_resume
    = post.resume
  %ul.list-inline.post_actions
    %li.right{ title: 'Número de comentarios'}
      %i.fa.fa-comment-o
      = "#{post.comments.count}"

