.blog
  .row
    = render partial: 'layouts/shared/main_navbar'
  .container
    - if defined?(category)
      .row_fluid
        .filter_by
          Filtro por
          %span
            = category
            = link_to root_path, remote: true do
              %button
                X
    - cache(action_suffix: "blog_info", :expires_in => 1.hour) do
      .blog-info
        = render partial: 'posts/list', locals: { all_posts: @all_posts, old_posts: @old_posts, last_post: @last_post, paginate: true  }
.row
  .blog-footer
    .container
      = render partial: 'author/post_info', locals: { author: @all_posts.first.author }
.row
  = render partial: 'layouts/shared/footer'