= javascript_include_tag "infinite_scroll"
.blog
  .row
    = render partial: 'layouts/shared/mobile_main_navbar'
  .container
    - if defined?(category)
      .row_fluid
        .filter_by
          Filtro por
          %span
            = category
            = link_to root_path, remote: true do
              %button
                X
    .blog-info
      = render partial: 'posts/list', locals: { all_posts: @all_posts, old_posts: @old_posts, last_post: @last_post, paginate: true  }
