.post
  .row
    %div{ id: "post_#{@post.id}", class: 'container' }
      %h2.post-title
        = @post.title
      %h3.post-subtitle
        = @post.resume
      - if @post.image.url
        %div.post-image.col-md-12{style: "background: url('#{@post.image.url}')"}
          &nbsp;
      .post-content#post-content
        = raw @post.content
        %p{ class: 'post_content', id: 'post_content'}
      - if @post.resource.try(:status)
        .post-resource
          %span
            Recurso:
          = link_to @post.resource.link, target: '_blank', onclick: 'resourceDownload(event)', "data-ref": @post.resource.id  do
            %i.fa.fa-download
            = @post.resource.title
      .tags.left
        %ul.list-inline
          - @post.tags.split(',').each do |tag|
            %li
              = "##{tag}"
      = render partial: 'posts/social_buttons', locals: { post: @post }
      .row-fluid
        = render partial: 'posts/related_posts', locals: { posts: @related_posts }
.post-footer
  .row
    .post-footer
      .container
        = render partial: 'author/post_info', locals: { author: @post.author }
  .row
    .more-posts
  - if @post.comments.present?
    .row
      .comments
        = render partial: 'posts/comments', locals: { comments: @post.comments}
.subscription.subcription-post
  .row
    = render partial: 'subscriptions/form'