.post
  .row
    %div{ id: "post_#{@post.id}", class: 'post-content item-post-list single-post' }
      %h2.post-title
        = @post.title
      %h3.post-subtitle
        = @post.resume
      .post_content#post-content
        = raw @post.content
      %ul.list-inline.post-actions
        %li.right.social-button{ title: 'Compartir en LinkedIn', 'data-info': 'Linkedin' }
          %i.fa.fa-linkedin
        %li.right.social-button{ title: 'Compartir en Facebook', 'data-info': 'Facebook' }
          %i.fa.fa-facebook
        %li.right.social-button{ title: 'Compartir en Twitter', 'data-info': 'Twitter' }
          %i.fa.fa-twitter
        %li.right{ title: 'Share this post' }
          Share it!
.post-footer
  .row
    = render partial: 'author/post_info', locals: { author: @post.author }
  .row
    .more-posts
  - if @post.comments.present?
    .row
      .comments
        = render partial: 'posts/comments', locals: { comments: @post.comments}
.subscription
  .row
    = render partial: 'subscriptions/form'

= render partial: 'posts/social_buttons.js'