%html
  %head
    %title
      Home
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': true
  %body
    = yield
    = javascript_include_tag 'application', 'data-turbolinks-track': true
